body{
  background-color: lavender;
  font-family: monospace;
}
header{
  width:75%;
  background-color: skyblue;
}
img{
  width:75%; 
}
#reviews{
  display: block;
}
@media screen and (max-width:500px) {
  #reviews {
      display: none;
  }
}
